/* a{
    coloe:black;
}
a:visited{
    color:aqua;

} */

ul{
    background-color:rgb(9, 253, 188);
}
li:nth-child(3){
    color:rgb(255, 0, 0);
}
ul>p{
    color:rgb(0, 136, 255);
}
ul>h2{
    color:beige;
}
li:grammar-error{

}
li:nth-of-type(5){
    color:yellow;
}


.child{
    background-color: rgb(249, 107, 244);
    border:solid black 1px;
    
}
.child2{
    /* grid-column-start: 4;
    grid-column-end: 4; */
    /* grid-row-start:2;
    grid-row-end:4; */
}
.parent{
    height: 600p;
    display: grid;
    background-color: aqua;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-auto-rows: 100px;
    row-gap: 100px;
    column-gap:200px;
    justify-content: center;
    flex-flow:
}










