.container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    margin: 20px;
}
.c1, .c2, .c3, .c4 {
    width: 50px;
    height: 50px;
    background-color: #a0a0ff;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1 {
    position: absolute;
    top: 10px;
    left: 10px;
}
.c2 {
    position: absolute;
    top: 63px;
    right: 87px;
}
.c3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.c4 {
    position: absolute;
    bottom: 61px;
    right: 87px;
}