body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    

}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    margin: 0 10px;
}
.navbar .search-bar {
    display: flex;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
    
}
.navbar .search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}
.navbar .search-bar button {
    height:30px;
    width:30PX;
    
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.navbar .search-bar button:hover {
    background-color: whitesmoke;
}